@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.main {
  background-image: url(assists/image/background.jpg);
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}

.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.70;
  position: absolute;
  top: 0;
  background-color: black;
}

nav {

  max-width: 60vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;

}

nav img {
  width: 130px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {

  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 62px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 24px;
  padding: 0 30px;
}

.hero> :nth-child(1) {
  font-family: "poppins", sans-serif;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

.hero> :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero> :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.separation {
  height: 7px;
  background-color: rgb(53, 53, 53);
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(101, 101, 101, 0.06);
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 400;
}

.btn-red-sm {
  background-color: red;
  color: white;
}

.main input {
  padding: 7px 101px 8px 14px;
  color: white;
  font-weight: 900;
  font-size: 13px;
  border-radius: 5px;
  background-color: rgba(23, 23, 23, 0.3);
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.first {
  display: flex;
  color: white;
  justify-content: center;
  max-width: 50vw;
  margin: auto;
  align-items: center;
}


.firstimg {
  position: relative;
}

.firstimg img {
  width: 400px;
  position: relative;
  z-index: 10;

}

.firstimg video {
  position: absolute;
  top: 51px;
  right: 0;
  width: 373px;

}

section.first>div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.first>div :first-child {
  font-size: 43px;
  font-weight: bolder;
}

section.first>div :nth-child(2) {
  font-size: 20px;

}

.faq h2 {
  text-align: center;
  font-size: 48px;
}

.faq {
  background: black;
  color: white;
  padding: 34px;
}

.faqbox:hover {
  background-color: rgb(27, 26, 26);

}

.faqbox {

  transition: all 1s ease-out;
  font-size: 24px;
  display: flex;
  background-color: #2d2d2d;
  padding: 18px;
  max-width: 60vw;
  margin: 15px auto;
  justify-content: space-between;
  cursor: pointer;
}

footer {
  color: white;
  max-width: 90vw;
  margin: auto;
  padding: 14px;
}

footer .question {
  padding: 34px 0;
}

.footer a {
  font-size: 14px;
  color: white;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;

}

@media screen and (max-width: 1400px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

  }

  .ftrbtn {
    padding: 3px 8px;
    margin: 5px 47px;
    font-weight: 400;
    color: white;
    background-color: rgba(101, 101, 101, 0.06);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1400px) {

  .first {
    flex-wrap: wrap;
  }

  .firstimg img {
    width: 305px;
  }

  .firstimg video {

    width: 305px;
  }

  .hero> :nth-child(1) {

    font-size: 32px;
  }

  .hero> :nth-child(2) {

    font-size: 18px;
  }

  .hero> :nth-child(3) {

    font-size: 18px;
  }

  nav {

    max-width: 93vw;

  }

  .main input {

    font-size: 8px;

  }

  .hero-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .faq h2 {
    text-align: center;
    font-size: 32px;
  }

  .footeritem {

    align-items: center;

  }

}


.footeritem {
  display: flex;
  flex-direction: column;
  gap: 23px;


}

.ftrbtn {
  padding: 3px 8px;
  margin: 0;
  font-weight: 400;
  color: white;
  background-color: rgba(101, 101, 101, 0.06);
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.pragp {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.7);
  font-family: unset;
  font-size: 0.875rem;
  font-weight: 400;
}

@media screen and (max-width: 1400px) {
  .ftrbtn {
    padding: 3px 8px;
    margin: 10px 43px;
  }

  .pragp {
    margin: 1px 53px;


  }
}